.tic-container {
  width: 90vw !important;
  height: 90vw !important;
}

.content {
  min-height: 100vh;
}

.h-33 {
  height: 33.3333% !important;
}

.tic-box {
  background-color: #ecf0f1;
}

.tic-box-content {
  background-size: contain !important;
  height: 100%;
}

.tic-box-cross {
  filter: brightness(0.1) invert(.2) sepia(1000%) hue-rotate(100deg) saturate(2000%);
}

.tic-box-circle {
  filter: brightness(40%) invert(20%) sepia(100%) hue-rotate(-50deg) saturate(600%);
}

.tic-container > .row {
  --bs-gutter-x: 0rem !important;
}
